* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
  color: white;
}

.main {
  display: grid;
  grid-column: 1fr;
  grid-template-areas: 
    "title"
    "search"
    "main";

  height: 100%;
  width: 80vw;
  border-right: 1px white solid;
  border-left: 1px white solid;
}

.title {
  grid-area: 'title';
}
.search {
  grid-area: 'search';
}
.container-main {
  grid-area: 'main';
}


